# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.pth
frontend/package-lock.json
frontend/package.json

CML/ 
Normal/

# Virtual environment
venv/
.env
.venv
node_modules
dist
dist-ssr
*.local
testing-grounds
models
ConvNeXt Single-Cell Classification/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Simulation
Simulation/
